server:
  port: 8081

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/goods?serverTimezone=Hongkong&allowMultiQueries=true&characterEncoding=utf8&useUnicode=true&&characterSetResults=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    database: 0
    #指代本机的redis的IP
    host: 127.0.0.1
    #redis默认端口号
    port: 6379
    #redis密码
    #    password:
    #超时时间为0.2秒
    timeout: 200
  cache:
    type: redis
  mail:
    host: mail.snapmail.cc
    port: 25
    username:
    password:
    properties:
      mail:
        debug: true
