<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpark.circle_shop.mapper.CartMapper">
    <insert id="insert">
        insert into cart(u_id, gd_id, amount)
        values (#{uId}, #{gdId}, #{amount})
    </insert>

    <update id="updateAmount">
        update cart
        set amount = amount + #{amount}
        where u_id = #{uId}
          and gd_id = #{gdId}
    </update>

    <delete id="deleteByUId">
        delete
        from cart
        where u_id = #{id};
    </delete>

    <delete id="deleteByUIdAndGdId">
        delete from cart where gd_id in
        <foreach collection="carts" item="i" separator="," open="(" close=")">
            #{i.gdId}
        </foreach>
        and u_id = #{user.id}
    </delete>

    <select id="selectByUIdAndGdId" resultType="com.zpark.circle_shop.entity.Cart">
        select *
        from cart
        where u_id = #{uId}
          and gd_id = #{gdId}
    </select>

    <select id="selectByUId" resultType="com.zpark.circle_shop.entity.Cart">
        select c.c_id,
               c.gd_id,
               c.amount,
               gd.g_id,
               gd.price,
               gd.special,
               gd.pic,
               gd.model as g_name
        from cart c,
             goods_detail gd
        where c.gd_id = gd.gd_id
          and c.u_id = #{id}
    </select>

    <select id="selectById" resultType="com.zpark.circle_shop.entity.Cart">
        select c.c_id,
               c.gd_id,
               c.amount,
               gd.g_id,
               gd.price,
               gd.special,
               gd.pic,
               gd.model as g_name
        from cart c,
             goods_detail gd
        where c.gd_id = gd.gd_id
          and c.u_id = #{uId}
          and c.c_id = #{cId}
    </select>
</mapper>
